
<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
  
    import { extent,max } from "d3-array";
    
    export let data = [];
    
    const leaves = scaleTime().domain(extent(data.map(d => new Date(2014,12,d.day,d.hour)))).range([0,data.length]);
    const electricity = scaleLinear().domain(extent(data.map(d => d.total_electrity))).range([10,50]);
    const gas = scaleLinear().domain(extent(data.map(d => d.total_gas))).range([10,50]);
    const electricity_leaves = area().x(d => leaves(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => - electricity(d.total_electrity));
    const gas_leaves = area().x(d => leaves(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => gas(d.total_gas));

</script>

<g height="110">
    <line x1="0" x2="{data.length}" y1="0" y2="0" stroke="black" />
    <path d={electricity_leaves(data)} fill="blue"/>
    <path d={gas_leaves(data)} fill="orange"/>
</g>
