<script>
   
   
  import { scaleLinear } from 'd3-scale'
   import { area } from 'd3-shape'
   import { extent } from 'd3-array'
   
   
   const width = 600;
   const height = 600;
   const margin = { top: 10, right: 10, bottom: 10, left: 10 };
   const innerWidth = width - margin.left - margin.right;
   const innerHeight = height - margin.top - margin.bottom;
   export let data = [];
   export let index = null;
   export let if_crossall = null;


   const X = scaleLinear().domain([0, data.length - 1]).range([0, innerWidth]);
   const Y = scaleLinear().domain(extent(data.map(d => d.total_heating_energy))).range([1, 15]);
   let lines;
   function across_all_building_area(_){
       lines = area(_)
       .x(function(_,i){return X(i)})
       .y0(function(d){return innerHeight / 2 - Y(d.total_heating_energy) / 2})
       .y1(function(d){return innerHeight / 2 + Y(d.total_heating_energy) / 2})
   }
   function within_building_area(_){
       lines = area(_)
       .x(function(_,i){return X(i)})
       .y0(function(d){return 25 * (index + 1) - Y(d.total_heating_energy) / 2})
       .y1(function(d){return 25 * (index + 1) + Y(d.total_heating_energy) / 2})
   }
   function do_area(d){
       if(if_crossall)
       return across_all_building_area(d)
       else
       return within_building_area(d)
   }

   $: do_area(data);
</script>

<path stroke="black" fill="black" d="{lines(data)}" class="area"/>


