<script>
    import { scaleLinear } from 'd3-scale';
    import { area } from 'd3-shape';
    import { extent } from 'd3-array';


    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerHeight = height - margin.top - margin.bottom;

    export let data = null;
    export let city = null;
    const radius = 45;

    export let location = null;
    const cx = location - 90;
    const cy = innerHeight / 2;

    const heating_scale = scaleLinear().domain(extent(data.map(d => d.heating))).range([1, radius])
    const cooling_scale = scaleLinear().domain(extent(data.map(d => d.cooling))).range([1, radius])
    
    const cooling_area = area()
        .x(function(d) {return cx + cooling_scale(d.cooling) * Math.sin(2 * Math.PI * d.day_of_year / 365)}) 
        
        .y0(function(d) {return cy})
        .y1(function(d) {return cy - cooling_scale(d.cooling) * Math.cos(2 * Math.PI * d.day_of_year / 365)})
    const heating_area = area()
        .x(function(d) {return cx + heating_scale(d.heating) * Math.sin(2 * Math.PI * d.day_of_year / 365)})
        .y0(function(d) {return cy})
        .y1(function(d) {return cy - heating_scale(d.heating) * Math.cos(2 * Math.PI * d.day_of_year / 365)})
    
</script>

  

<circle cx={cx} cy={cy} r={radius} stroke=black fill=transparent stroke-width=3></circle>



<text x={cx-60} y={cy-28}>10</text>
<text x={cx-37} y={cy-48}>11</text>
<text x={cx-40} y={cy-radius-30}>{city}</text>
<text x={cx-5} y={cy-radius-5}>0</text>
<text x={cx+28} y={cy-48}>1</text>
<text x={cx+48} y={cy-28}>2</text>
<text x={cx+radius+5} y={cy+5}>3</text>

<text x={cx-5} y={cy+radius+15}>6</text>
<text x={cx-44} y={cy+52}>7</text>
<text x={cx-57} y={cy+32}>8</text>
<text x={cx-radius-15} y={cy+5}>9</text>
<text x={cx+46} y={cy+32}>4</text>
<text x={cx+33} y={cy+52}>5</text>


<path stroke="red" fill="red" d="{heating_area(data)}" class="area" stroke-width=3 style="opacity: 0.8;"/>
<path stroke="blue" fill="blue" d="{cooling_area(data)}" class="area" stroke-width=3 style="opacity: 0.8;"/>

  