<script>
  import Mycircle from "./_design_2_sub.svelte";
  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let data = null;
  let cities = ["Baltimore","Chicago","Los Angeles"];




  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });
</script>

{#if !data}
<p>Loading the data</p>
{:else}



<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each cities as city, index}
      <Mycircle
        data={data.filter(d => d.city == city)}
        location={innerWidth / 3 * (index + 1)}
        city={city}>
      </Mycircle>
    {/each}
    <text x={innerWidth/5 } y={innerHeight - 20}>Design2: heating and cooling within a year</text>
  </g>
</svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
