<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Line from "./_design_1_sub.svelte";

  // Size and margins
  const width = 600;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  
  
  
  let data = null;
  let filteredData = null;
  let cities = ['Baltimore', 'Chicago', 'Los Angeles']
  let types = ["FullServiceRestaurant","Hospital","LargeHotel","LargeOffice","MediumOffice",
  "MidriseApartment","OutPatient","PrimarySchool","QuickServiceRestaurant","SecondarySchool",
  "SmallHotel","SmallOffice","Stand-aloneRetail","StripMall","SuperMarket","Warehouse"];

  let location = cities[0];
  let all_building = 'false';
  let buildingType = [];

  onMount(async () => {
     data = await json("/data/hourly_heating_december.json");
    filterData()
  });

  function filterData(_) {
    if(!data)
      return;
    filteredData = data.filter(d => d.city == location)
  }

  function buildfunction(_) {
    if(!data)
      return;
    buildingType = types.map(type => {
      return filteredData.filter(d => d.buildingtype == type)
    })
  }

  $: filterData(location);
  $: buildfunction(all_building);
  $: buildfunction(filteredData)
</script>

<div>
  {#if !data}
  <p>Loading the data, please wait...</p>
  {:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#if all_building == 'false'}
        {#each buildingType as data, i}
          <Line data={data} index={i}></Line>
        {/each}
      {:else}
        <Line data={filteredData} accross_all=true ></Line>
      {/if}
      <text x={innerWidth/4} y={innerHeight-5}>Design1: Energy use over multiple days</text>
    </g>
  </svg>

  <div class="row">
    <div class="col-3">
      <select id="continent-select" class="form-select" bind:value={all_building}>
        <option value=true>All DATA
        </option>
        <option value=false>Building Types

        </option>
      </select>
    </div>
    <div class="col-6">
      <select id="continent-select" class="form-select" bind:value={location}>
        {#each cities as c}
          <option value={c}>{c}</option>
        {/each}
      </select>
    </div>
  </div>
  {/if}
</div>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
