<div>
  <head>
    <title>Ex1</title>
    
</head>
<body>
  <h1>Section1</h1>
  <h2>Section2</h2>
  <h3>Section3</h3>
  <h4>Section4</h4>
  <h5>Section5</h5>
  <h6>Section6</h6>
</body>

  <li>My first</li>

</div>
