<script>

    const me={
    name: 'Xie Liren',
    
    h1:'football',
    h2:'cooking',
    h3:'dancing'
    
    };
    </script>
    <p>My name is {me.name} and these are some of my favourite things:{me.h1},{me.h2},{me.h3}.</p>
